.App {
  text-align: center;
}

.helper{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
}

.helper-left{
  left: 0;
  transform: scale(-1, 1);
}

.skype{
  position: fixed;
  left: 34%;
  width: 500px;
}

.beautiful-button
{
  font-family: Times New Roman, serif;
   font-size: xx-large;
   font-style: oblique;
   font-weight: lighter;
   color: lime;
   background: url("https://wcerfgba.github.io/AESTHETIC.css/img/pink.png");
   background-size: 30px 30px;
   text-shadow:  red 1px 1px 0px, red -1px -1px 0px, red -1px 1px 0px, red 1px -1px 0px;
   width: 150px;
   height: 50px;
}

.blur-text {
    text-shadow: #000 5px 0 10px, #000 -5px 0 10px;
    color: transparent;
}

.blur-not-that-much {
    text-shadow: #000 0px 0 2px;
    color: transparent;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-container {
  font-size: large;
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

.

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
